<ion-view title="Confirmación Envio" id="page10" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="confirmaciNEnvio-form12" class="list">
      <div id="confirmaciNEnvio-container8">
        <h1 id="confirmaciNEnvio-heading9" style="color:#4DB832;text-align:center;">CrimenApp</h1>
      </div>
      <div id="confirmaciNEnvio-container9">
        <form id="confirmaciNEnvio-form11" class="list">
          <h4 id="confirmaciNEnvio-heading10" style="color:#361FDF;text-align:center;">Revice su correo electronico</h4>
          <div class="spacer" style="height: 100px;"></div>
          <a ui-sref="menu.login" id="confirmaciNEnvio-button14" style="font-weight:600;color:#FBFBFB;" class="button button-positive  button-block icon-right ion-log-in">Regresar</a>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>