<ion-view title="Confirmación Registro" id="page11" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="confirmaciNRegistro-form14" class="list">
      <div id="confirmaciNRegistro-container10">
        <h1 id="confirmaciNRegistro-heading11" style="color:#4DB832;text-align:center;">CrimenApp</h1>
      </div>
      <div id="confirmaciNRegistro-container11">
        <form id="confirmaciNRegistro-form13" class="list">
          <h4 id="confirmaciNRegistro-heading12" style="color:#361FDF;text-align:center;">Usted se registro exitosamente</h4>
          <div class="spacer" style="height: 100px;"></div>
          <button id="confirmaciNRegistro-button19" style="font-weight:600;color:#FBFBFB;" class="button button-balanced  button-block icon-right ion-log-in">Ingresar</button>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>