<ion-view title="Configuración" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="configuraciN-form22" class="list">
      <h5 id="configuraciN-heading17" style="color:#2B66CF;font-weight:400;">Actualice sus datos:</h5>
      <ion-list id="configuraciN-list6">
        <ion-item class="item-avatar" id="configuraciN-list-item58">
          <img src="img/pd41ypRjSvmOqvVuO2IO_administrator.png">
          <h2 id="user.titulo"></h2>
          <p>activo</p>
        </ion-item>
        <label class="item item-input" id="configuraciN-input15" name="correo">
          <span class="input-label" id="user.email"></span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="configuraciN-input16" name="contraseña">
          <span class="input-label" id="user.password"></span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="menu.inicio" id="configuraciN-button25" style="font-weight:600;" class="button button-energized  button-block icon-right ion-log-in">Modificar Datos</a>
    </form>
  </ion-content>
</ion-view>
