<ion-view title="Incidentes" id="page13" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <h3 id="incidentes-heading14" style="color:#DA1414;font-weight:600;text-align:center;">Ultimos Incidentes</h3>
    <div id="incidentes-container12">
      <ion-list>
       <ion-item class="item-avatar positive" ng-repeat="crimen in crimenes">
          <img ng-src="{{crimen.imageReport}}">
          <h2>{{crimen.name}}</h2>
          <p>{{crimen.description}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>