<ion-view title="Login" id="page4" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <div id="login-container2">
        <h1 id="login-heading2" style="color:#4DB832;text-align:center;">CrimenApp</h1>
      </div>
      <div id="login-container1">
        <form id="login-form3" class="list" ng-submit="doLogin()">
          <label class="item item-input" id="login-input11" name="usuario" >
            <input type="text" placeholder="Usuario" ng-model="loginData.username">
          </label>
          <label class="item item-input" id="login-input12" name="contraseña">
            <input type="text" placeholder="Contraseña" ng-model="formData.password">
          </label>
          <button ui-sref="menu.inicio" id="login-button1" style="font-weight:600;color:#FBFBFB;" class="button button-balanced  button-block icon-right ion-log-in" type="submit">Ingresar</button>
          <a ui-sref="menu.registrarse" id="login-button6" style="font-weight:600;color:#FBFBFB;" class="button button-positive  button-block icon-right ion-ios-plus-outline">Crear una cuenta</a>
        </form>
      </div>
    </form>
    <a ui-sref="menu.recuperarContraseA" id="login-button5" style="color:#2B66CF;" class="button button-balanced  button-block button-clear">¿Olvidaste la contraseña?</a>
  </ion-content>
</ion-view>