<ion-view title="Recuperar Contraseña" id="page9" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="recuperarContraseA-form10" class="list">
      <div id="recuperarContraseA-container6">
        <h1 id="recuperarContraseA-heading8" style="color:#4DB832;text-align:center;">CrimenApp</h1>
      </div>
      <div id="recuperarContraseA-container7">
        <form id="recuperarContraseA-form9" class="list">
          <label class="item item-input" id="recuperarContraseA-input7" name="Correo">
            <input type="text" placeholder="Correo">
          </label>
          <a ui-sref="menu.confirmaciNEnvio" id="recuperarContraseA-button11" style="font-weight:600;color:#FBFBFB;" class="button button-balanced  button-block icon-right ion-log-in">Enviar</a>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>