<ion-view title="Reportes" id="page14" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <h3 id="reportes-heading15" style="color:#398EDD;font-weight:600;text-align:center;">Mis Reportes</h3>
    <div id="reportes-container13">
      <ion-list>
        <ion-item class="item-avatar positive" ng-repeat="crimen in crimenes">
          <!--img ng-src="{{crimen.img}}"-->
          <h2>{{crimen.name}}</h2>
          <p>{{crimen.description}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
